<h2><%= @photo.title %><h2>
<div><img src="<%= @photo.url %>" alt="<%= @photo.title %>" width = "auto" height = "500px" /></div>
<%= 
if @photoIndex > 0
	link_to "<<Previous", photo_path(@photos[@photoIndex - 1][:id])
end
%>
<%= link_to "Edit this photo", edit_photo_path(params[:id]) %>
<%= link_to("Destroy this photo", photo_path(params[:id]), :method => :delete, :confirm => "Are you sure you wish to delete this photo?") %>
<%= link_to "Home", photos_path %>
<%=
if @num > @photoIndex + 1
	link_to "Next>>", photo_path(@photos[@photoIndex + 1][:id])
end
%>
